/*variaveis*/
:root {
    --primary:#fffae6;
    --secondary:#e3d8b4 ;
/*    --tertiary:#f6e8bd;
    --text-color:#fff;*/
    --text-secondary:#332A1F;
    --font-h2: 2rem;
    --font-h3-h4: 1.4rem;
    --font-body: 1.1rem;
    --font-small: 0.9rem; 
}
* {
    font-family: "Roboto", Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 
html, body  {
    background-color: var(--primary);
}
body {
    max-width: 1300px;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.03);
    line-height: 1.4;
}
/*image logoTeam*/
.logoTeam {
    mix-blend-mode: multiply;
    width: 100%;
    max-width: 450px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

a {
    font-weight: bold;
    font-size: var(--font-small);
    text-decoration: none;
    color: var(--text-secondary);
    padding: 0.2%;
    margin-bottom: 0.5rem;
}
a:hover {
    text-decoration: underline;
}

.rowNav, .rowfooter {
    border: 4px solid #f0ebe0;
    border-radius: 5px;
}
/*first section*/
.wrapper {
    margin: 2em;
    display: grid;
    grid-template-columns: 2fr 6fr 3fr;
}
.col2 {
    color: var(--text-secondary);
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    word-break: break-word;
}
.col1, .col2 {
    display: flex;
    justify-content:center;
    align-items: center;
}
#summary, #key-benefits, #equipa, #outputs-project {
    margin-top: 2.5rem;
}
.logoCompleto {
    mix-blend-mode: multiply;
    width: 100%;
}
#subscription-form {
    padding: 1em;
    border-style: solid;
    border-width: 2em 0em 0em 2em;
    border-color:  #087782;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h3, #outputs-project h4, #subscription-form p {
    font-size: var(--font-h3-h4) !important;
}

p, .grid-item, .article-list li, .summary-text {
    font-size: var(--font-body);
}

#subscription-form p{
    color: var(--text-secondary);
    margin-bottom: 0.5em;
    font-weight: bold;   
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    font-size: var(--font-h3-h4);
}
.form-group label, strong{
    color: var(--text-secondary);
    margin-bottom: .2em;    
}
/*second section*/

#items-summary {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
    width: 100%;
}
.summary-text {
    color: var(--text-secondary);
    padding: 1em;
    margin: 1em;
    line-height: 1.5;
}
.div1 {
    margin: 0 auto;
    text-align: left;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    padding-top: .5em;
    padding-bottom: 1em;
    font-weight: 600;
    color: var(--text-secondary);
}
.div1 p {
    font-size: var(--font-body);
    font-weight: bold;
    padding: 0em 0em 0.5em 3em;
}
.div2 {
    display: inline-block;
    justify-content: space-around;
    padding: 0em 2em 0em 2em;
    width: 100%;
    margin: 0 auto;
}
#container {
    border: 2px solid #433729;
    width: 100%;
    height: auto;
}
.div2s {
    width: 100%;    
    padding: 0em 1em 0em 1em;
    display: flex;
    align-items: center;
}
.div2s .logoImage {
    width: 30%;
    height: 130px;
    gap: 5%;
    border-radius: 1%;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    margin-bottom: .5em;
    mix-blend-mode: multiply;
    margin: 0 auto;  
}
#logoalmeria {
    background-image: url(../image/LogotipoAlmeria2.png);
}
#logoffup {
    background-image: url(../image/Logotipoffup.png);
}
#logofct {
    background-image: url(../image/FCTLogo.png);
}
#logolaqv {
    background-image: url(../image/laqvLogo.png);
}
/* task section */

#key-benefits h2, #summary h2, #equipa h2, #outputs-project h2 {
    background-color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5em;
    font-weight: 600;
    color: var(--text-secondary);
    line-height: 1.2;
}
#key-benefits p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-secondary);
    padding-bottom: 10px;
}
.task1 {
    margin-top: 2em;
    text-indent: 0;
    margin-bottom: 10px;
    padding-left: 2em;
}

.benefits-grid {
    display: grid;
    /* Cria 2 colunas iguais no desktop */
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 2rem; /* Espaço entre os cartões */
    width: 95%;
    margin: 2rem auto;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff; /* Opcional: um fundo branco leve destaca as fotos */
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* Sombra suave profissional */
}

.benefit .benefit-img {
    width: 100%; /* Ocupa a largura da coluna */
    aspect-ratio: 16 / 9; /* Mantém sempre a mesma proporção (tipo TV) */
    border-radius: 4px;
    background-size: contain; /* Preenche o espaço sem deformar */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom: 1rem;
    border: 1px solid var(--secondary);
}

.benefit p {
    font-size: var(--font-body);
    line-height: 1.4;
    color: var(--text-secondary);
}

#benefit-1 {
    background-image: url("../image/tasks2.jpg");
}
#benefit-2 {
    background-image: url("../image/tasks3.jpg");
}
#benefit-3 {
    background-image: url("../image/tasks4.jpg");
}
#benefit-4 {
    background-image: url("../image/tasks5.jpg");
}
/* team section */
.team, .articles {
    margin-top: 1em;
    padding-top: 0.2em;
}
.team p {
    color: var(--text-secondary);
    text-align: left;
    font-size: var(--font-body);
    padding: 0.3rem 1rem;
}
.grid-container {
    display: grid;
    column-gap: auto;
    grid-template-columns: auto auto auto;
    padding: 1em 2em;
}
.grid-item {
    color: var(--text-secondary);
    text-align: left;
    font-size: var(--font-body);
    padding: 0.2em 1em;
}

/* section outputs*/
.articles {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
}

#outputs-project h4 {
    font-weight: 500;
    color: #087782;
    margin-top: 2.5rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid var(--secondary);
    display: block;
}
/* remove o margin-top do primeiro */
#outputs-project h4:first-of-type {
    margin-top: 1rem;
}

.article-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}
.article-list li {
    padding: 0.8rem 0;
    line-height: 1.6;
    color: var(--text-secondary);
    border-bottom: 1px solid #ddd;
}

.article-list li:last-child {
    border-bottom: none;
}

.article-list a {
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
}

/* Garante que o sobrescrito não altere a altura da linha (line-height) */
sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em; /* Ajusta a altura exata aqui */
    font-size: 0.7rem; /* Define o tamanho do 'rd' */
    margin-left: 1px;
}
.event-type {
    font-weight: bold;
    color:var(--text-secondary);
    margin-right: 0.5rem;
}
.article-details, .article-authors {
    display: block;
    font-size: var(--font-body); 
    margin-top: 4px;
}

.article-title {
    font-style:inherit;
}

/*footer*/
#footer {
    padding: 2em;
}
#footer p {
    font-size: var(--font-small);
}

/* Mobile */
@media screen and (max-width: 600px) {
    :root {
        --font-h2: 1.2rem;
        --font-h3-h4: 1.15rem;
        --font-body: 0.95rem;
        --font-small: 0.8rem;
    }

    body {
        padding: 0.8rem;
    }

    a {
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.1%;
    margin-bottom: 0.2rem;
}
    .logoTeam {
        width: 70%;
        height: auto;
    }

    .rowNav, .rowfooter {
    border: 2px solid #f0ebe0;
    border-radius: 5px;
    }

    .col2 p {
    font-size: 1.2rem;
    }

    #key-benefits h2, #summary h2, #equipa h2, #outputs-project h2 {
        padding: 1em;   
    }
    /*first section*/
    #summary, #first-logo, #key-benefits, #outputs-project {
        margin-top: 0.5em;
    }
    .wrapper {
        display: inline;
        margin: 1%;
    }
    .col2 {
        padding: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .col1, .col2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoCompleto {
        width: 40%;      
    }
    
    #subscription-form {
        border-width: 1.3em 0em 0em 1.3em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #subscription-form p {
        font-size: 1.2rem;
    }

    /*second section*/
    .summary-text {
        padding: 0.5em;
        margin: 1em 0;
    }
    .sumary-text p {
        line-height: 1.4;
    }
    #items-summary {
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        width: 100%;
        height: auto;
    }
    h3 {
        padding-top: 0em;
    }
    .div1 {
        padding-bottom: 0.5em;
    }
    .div2, .div2s {
        padding: 0em 0.5em 0em 0.5em;
    }
    .div2s .logoImage {        
        height: 80px;
        gap: 1%;
    }
    /* task section */
    .benefits-grid {
        grid-template-columns: 1fr; /* 1 coluna apenas no telemóvel */
        width: 95%;
    }

    .task1 {
        padding-left: 1.2em;
        text-indent: 0;
    }
    /* team section */
    .team {
        margin-top: 0.5em;
        padding-top: 0.2em;
    }
    .team p {
        padding: 0.3em 1em;
    }
    .grid-container {
        column-gap: 100px;
        grid-template-columns: auto;
        padding: 3px;
    }
    .grid-item {
        padding: 0.2em 2em;
    }

    /* List articles */
    .articles {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #outputs-project h4 {
        margin-top: 2rem;
    }

    .article-list li {
        padding: 1rem 0;
    }

    /*footer*/
    #footer {
        padding: 1em;
    }
}

/* Ipad */
@media screen and (min-width: 601px) and (max-width: 1059px) {
    :root {
        --font-h2: 1.6rem;
        --font-h3-h4: 1.3rem;
        --font-body: 1.1rem;
        --font-small: 0.9rem;
    }

    body {
        padding: 0.8rem;
    }

    /*first section*/
    #summary, #first-logo, #key-benefits {
        margin-top: 1em;
    }
    .logoCompleto {
        width: 100%;             
    }
    .wrapper {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0.8%;
    }
    .col2 {
        font-size: 1.3rem;
        padding: 0.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .col1, .col2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoTeam {
        width: 70%;       
        height: auto;
    }
    #subscription-form {
        margin-left: 1em;
        margin-right: 1em;
        border-width: 1.5em 0em 0em 1.5em;
    }

    #key-benefits h2, #summary h2, #equipa h2 {
        padding: 1em;
    }
     /*second section*/
    .summary-text {
        padding: 0.5em;
        margin: 1em;
    }
    #items-summary {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        width: 100%;
    }
    h3 {
        padding-bottom: 0;
    }
    .div1 {
        padding-bottom: 0.5em;
    }

    .div2, .div2s {
        padding: 0em 0.5em 0em 0.5em;
    }
    .div2s .logoImage {       
        height: 80px;
        gap: 1%;
    }
    /* task section */

    .task1 {
        text-indent: 0;
    }
    .benefits {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0.5em 0.5em 0.5em 0em;
    }
    .benefits-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .benefit {
        max-width: 100%;
    }
    .benefit .benefit-img {
        height: auto;
        margin-bottom: 0.3em;
    }
    .benefit p {
        padding: 0.5em;
    }
    /* team section */
    .team {
        margin-top: 1em;
        padding-top: 0.2em;
    }
    .team p {
        padding: 0.3em 1em;
    }
    .grid-container {
        column-gap: 100px;
        grid-template-columns: auto auto;
        padding: 3px;
    }
    .grid-item {
        padding: 0.2em 2em;
    }
    /*footer*/
    #footer {
        padding: 1em;
    }

}

